body{
	font-family: 'Lato', sans-serif;
}  


.grid-container{
	display: grid;
	grid-template-columns: auto 350px 350px 350px auto;
	grid-template-rows: 100px 400px 400px 45px;
	grid-gap: 10px;
}

.logo{
	grid-column: 2/3;
	grid-row: 1/2;
}

.header{
	grid-column: 2/5;
	grid-row: 1/2;
	background-image: url("img/header_bg.png");
}

.banner{
	grid-column: 2/4;
	grid-row: 2/3;
}

.bannerbg{
	grid-column: 2/5;
	grid-row: 2/3;
	background-image: url("img/banner_bg.png");
}

.fadeslide{
	grid-column: 2/3;
	grid-row: 3/4;
	padding-left: 55px;
}

.nivoslide{
	grid-column: 3/4;
	grid-row: 3/4;
	padding-left: 30px;
}

.bonusslide{
	grid-column: 4/5;
	grid-row: 3/4;
}

.footer{
	grid-column: 2/5;
	grid-row: 4/5;
	background-image: url("img/footer_bg.png");
}

.fadetext{
	grid-column: 2/3;
	grid-row: 3/4;
	margin-left: 60px;
	margin-top: 190px;
	margin-right: 5px;
	font-size: 14px;
	line-height: 20px;
}

.nivotext{
	grid-column: 3/4;
	grid-row: 3/4;
	margin-top: 190px;
	margin-left: 35px;
	margin-right: 15px;
	font-size: 14px;
	line-height: 20px;
}

.bonustext{
	grid-column: 4/5;
	grid-row: 3/4;
	margin-top: 190px;
	margin-right: 38px;
	margin-left: 5px;
	font-size: 14px;
	line-height: 20px;
}

.footernaam{
	grid-column: 2/5;
	grid-row: 4/5;
	margin-left: 460px;
	font-size: 14px;
	line-height: 20px;	
}
.fadetitle{
	grid-column: 2/3;
	grid-row: 3/4;
	margin-top: 125px;
	margin-left: 60px;
	margin-right: 5px;
	font-size: 26px;
	line-height: 30px; 
}

.nivotitle{
	grid-column: 3/4;
	grid-row: 3/4;
	margin-top: 125px;
	margin-left: 35px;
	margin-right: 15px;
	font-size: 26px;
	line-height: 30px; 
}



.bonustitle{
	grid-column: 4/5;
	grid-row: 3/4;
	margin-top: 125px;
	margin-right: 38px;
	margin-left: 5px;
	font-size: 26px;
	line-height: 30px; 

}

.weg{
	width: 0%;
}

.over{
  display: inline-block;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 20px;
  padding-left: 30px;
}

.talktitle{
	grid-column: 4/5;
	grid-row: 2/3;
	padding-top: 10px;
	padding-left: 25px;
	color: white;
	font-size: 26px;
	line-height: 30px; 
}

.talktext{
	grid-column: 4/5;
	grid-row: 2/3;
	padding-top: 70px;
	padding-left: 25px;
	color: white;
	font-size: 14px;
	line-height: 20px;
}

.over2{
  display: inline-block;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px;
}

.home{
	grid-column: 3/5;
	grid-row: 1/2;
	padding-left: 100px;
	margin-top: 25px;
}

.auto{
	grid-column: 3/5;
	grid-row: 1/2;
	padding-left: 170px;
	margin-top: 25px;

}

.kleding{
	grid-column: 3/5;
	grid-row: 1/2;
	padding-left: 240px;
	margin-top: 25px;
}

.blog{
	grid-column: 3/5;
	grid-row: 1/2;
	padding-left: 320px;
	margin-top: 25px;
}

.gallery{
	grid-column: 3/5;
	grid-row: 1/2;
	padding-left: 380px;
	margin-top: 25px;
}

.shortcodes{
	grid-column: 3/5;
	grid-row: 1/2;
	padding-left: 450px;
	margin-top: 25px;
}

.contact{
	grid-column: 3/5;
	grid-row: 1/2;
	margin: 550px;
	margin-top: 25px;
}

.link{
	text-decoration: none;
	color: black;
}


