.grid-container{
	display: grid;
	grid-template-columns: 50px 100px 100px 100px 50px;
	grid-template-rows: 50px 500px 50px 100px 25px;
	grid-gap: 10px;
}

header{
	grid-template-columns: 2/3;
	grid-template-rows: 1/2;
}

main{
	grid-template-columns: 2/3;
	grid-template-rows: 3/4;
}